language: ruby
cache:
  bundler: true
  apt: true
directories:
  - tmp/cache
addons:
  code_climate:
    repo_token: a318ed48e37de491dda0591e741a8bc1fb8421f9a7592e4e44eb1133ed183a2d
  postgresql: '9.4'
  apt:
    packages:
    - zsh
bundler_args: --without production development --deployment --jobs=3 --retry=3
before_install:
  - export TZ=Europe/Zurich
before_script:
    - psql -c 'create database travis_ci_test;' -U postgres
    - cp config/database.travis.yml config/database.yml
    - cp config/application.travis.yml config/application.yml
    - cp spec/code_climate.travis.rb spec/code_climate.rb
script: bin/check
